@model HomeModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem Vindo, @Model.Nome</h1>
    <p>Meu primeiro site em ASP .NET CORE</p>
    <span>Meu e-mail: @Model.Email</span>
</div>
